.scene
{
    position: relative;
    height: 35vh;
    overflow-x:hidden ;
    background: linear-gradient(#a6d8ff,#fff,#fff) ;

}
.dark .scene
{
    background: #222833;
}
.sun
{
    position:absolute;
    top:100px;
    left: 55%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 50px #fff;
    cursor: pointer;
    transition: 0.02s;

}
.dark .sun
{
    left: 45%;
   
}
.dark .sun::before
{
    content:'';
    position: absolute;
    top: -20;
    left:20;
    width:100%;
    height: 100%;
    background: #222833;
    border-radius: 50%;

}
.bg
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 280px;
    background: url(/src/Images/bg\ footer.jpeg);
    animation: animateBg 25s linear infinite;
    background-size: 1500px;
    background-repeat: repeat-x;
}
@keyframes animateBg
{
    0%
    {
        background-position-x: 0px;
    }
   100%
    {
        background-position-x: -1500px;

    }
}

.car1
{
    position: absolute;
    left:-200px;
    bottom: 20px;
    max-width: 200px;
    z-index:10;
    animation: car1 20s linear infinite;

}
@keyframes car1
{
    0%
    {
        transform: translateX(0px);
    }
    90%,100%
    {
        transform: translateX(calc(100vw + 200px));

    }
}

.car2
{
    position: absolute;
    left: 900px;
    bottom: 45px;
    max-width: 200px;
    z-index: 8;
    animation: car2 12s linear infinite;

}

@keyframes car2
{
    0%
    {
        transform: translateX(0px) rotateY(180deg);
    }
    90%,100%
    {
        transform: translateX(calc(-200vw + 200px)) rotateY(180deg);

    }
}
/* .................................................................... */



/* pricing  */
.pricing {
  padding: 50px 0;
  background: #000000  no-repeat right;
  background-size: cover;
  padding-bottom: 80px;
  row-gap: 60px;
}

@media (max-width: 500px) {
  .pricing {
    padding: 90px 0;
  
  }
}

.pricing .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pricing h2 {
  color: rgb(189, 16, 241);
  margin-bottom: 20px;
}

.footer {
  padding-top: 50px;
  background: #1c1922;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 70px;
  flex-wrap: wrap;
}


